<?xml version="1.0" encoding="UTF-8"?>
<!-- /chap2/src/main/java/annotation.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="write" class="gdu.kr.test0515.WriteImpl">
<constructor-arg><ref bean="articleDao"/></constructor-arg>
<!--<constructor-arg><bean class="gdu.kr.test0515.MariaDBArticleDao"/></constructor-arg>
  bean클래스 안에 articledao 객체 넣는다 --> 
 </bean>
<bean id="articleDao" class="gdu.kr.test0515.MariaDBArticleDao" />

</beans>